<!-- extends가 핵심!!! -->
{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>로그인</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      <!-- csrf token은 form안에 작성해 주어야 합니다. -->
      {% csrf_token %}
      <div class="form-group">
        <label for="username">사용자 이름</label>
        <!-- name값이 서버로 전송될때 변수명 과 같은 역할을 하게 됩니다. -->
        <input type="text" class="form-control" id="username" placeholder="사용자 이름" name="username" />
      </div>
      <!-- <div class="form-group">
        <label for="useremail">사용자 이메일</label>
        <input type="email" class="form-control" id="useremail" placeholder="사용자 이메일" name="useremail" />
      </div> -->
      <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password" />
      </div>

      <button type="submit" class="btn btn-primary">로그인</button>
    </form>
  </div>
</div>
{% endblock %}